<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<configSections>
		<sectionGroup name="devExpress">
			<section name="themes" type="DevExpress.Web.ASPxClasses.ThemesConfigurationSection, DevExpress.Web.v14.1, Version=14.1.6.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false"/>
			<section name="compression" type="DevExpress.Web.ASPxClasses.CompressionConfigurationSection, DevExpress.Web.v14.1, Version=14.1.6.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false"/>
			<section name="settings" type="DevExpress.Web.ASPxClasses.SettingsConfigurationSection, DevExpress.Web.v14.1, Version=14.1.6.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false"/>
			<section name="errors" type="DevExpress.Web.ASPxClasses.ErrorsConfigurationSection, DevExpress.Web.v14.1, Version=14.1.6.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false"/>
		</sectionGroup>
		<!--<section name="secureAppSettings" type="System.Configuration.NameValueSectionHandler, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />-->
	</configSections>
	<!--<connectionStrings configProtectionProvider="RsaProtectedConfigurationProvider">
    <EncryptedData Type="http://www.w3.org/2001/04/xmlenc#Element"
      xmlns="http://www.w3.org/2001/04/xmlenc#">
      <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#tripledes-cbc" />
      <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
        <EncryptedKey xmlns="http://www.w3.org/2001/04/xmlenc#">
          <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#rsa-1_5" />
          <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
            <KeyName>Rsa Key</KeyName>
          </KeyInfo>
          <CipherData>
            <CipherValue>dG/z3/ZeVDKmixSpy75AgeCNNADTzb80UAChu3Yiol3LFACMSAtwbHzxRMUft/rBL53jWE/3sMqN6l24+lmX8v6rauazkP6SHXCLSr6BW3M6ffT2qzScf+L9JR9S9ts67hskXi838Fwg+1BoCkOf0V/fEEFbUEPDVMw5NcbbEo0NnfXCRM1KrBuVjV1ktI2PIQGTqPDgZxmxw/5eUF2uQPjdJjTVJgsUV0D/tReHHUaCxPE52pLWIIm2+RMB8ruy1LlHFKkRlknWOfLm7qbDGwI4GOXpyqWRH1TiZvnA9hwKIApkuNn8fzwKvwKSgpIgtVFpVlPtpKtiM+EgGkP2Kw==</CipherValue>
          </CipherData>
        </EncryptedKey>
      </KeyInfo>
      <CipherData>
        <CipherValue>zucQeLDBa9FouRdXzbJHTkQTeWLpChOXqCopXR7elhvK4DgsQaqm+maAJLbXd9wSUdqQZx5at6fgTlkGwDSYZTjTJAThev5msmszaQFXXJmEL+chx8aKqtOZW8s+kQ00datpMgkzp9lzftmpW6zE2++JRhFye7w3BjldyAubu9zmsLzer81M314qF8rtNWN3nXB+5WCGhdwZzLgeNKw3MvY925yRlJcXgalHL7CSURjAaYZmTnUFkGfttt7cdvnM4doDWxm2hWe3wefLWmlBKi3G4S+jMRfdqc6Rk5QxUKMl8s1f6+zI4CNPBmjSgl7X2qUWtbt72LaYb0sG3lzwt0JpradBf/WDTBO1F//51QVkHWofJa91fSlSZwzeHRI28AfbCO6DBSy8lz61gHQsfDH9HtEqZV4yvU5d/baToC7vohZGsf0k1V2FqpnvnyhhMCi4DEjzwHddtUOjLWHTX1uo6vTXxUzVLgB4gRUyFbJ5JRoRrDc/PQuCsIfdO0ylQC5624Yv0rRHVjloeGwz72I0m0AWWhHWSAezKz9tPJtxYcSqi7ESrhS1msJtm13ofJlERcoCM6cgEuDiHBANfTHVfuCTBFuYJonnXrfgBcX3t/qYtOc3GiZPZhg7qz5dvPbFMGvSbxoaJ0fQoOCFwDZb0HsO9Gqrfz59JExQYDy8NPZGg6nS766i7FExSXzZYsh21NS4REPoxgJwJI0ovXV9xMEX75rLsbemrtJ9ToXxgV5rIl2irA==</CipherValue>
      </CipherData>
    </EncryptedData>
  </connectionStrings>-->

	<connectionStrings>

		<!--<add name="ConnectionString" connectionString="ahYOxz0q5tETS+J91XNFbgy0vcasENxQ5rPR2FhmZ0as4iQhPrH42MQomoYft/k00x54IG6PJvQOKgGMeT3Mm8H9UUMzmuEtrQnBG6feoj9CQh1WSrriUIP9kp9DqogugBp/A663Tp7ee5uXF5QaMHw41UYhwOQJnsYp1Gt7qDOM6vljgHsqoCnYTwBTnoar1QKBuOKcWKqjAKzgDYLBSw==" providerName="System.Data.SqlClient"/>-->
		<add name="ConnectionString" connectionString="Data Source=10.160.232.153;Initial Catalog=Dhmi;UID=dhmi;Password=Dhmi67*2801;Integrated Security=False;Max Pool Size=500;Min Pool Size=5;Connect Timeout=60" providerName="System.Data.SqlClient"/>
	</connectionStrings>
	<appSettings>
		<add key="DefaultPage" value="Default.aspx"/>
		<add key="SmsUsername" value="assistt.dhmi"/>
		<add key="SmsPassword" value="jVImYfmtbuG58wuEwsbKqw=="/>
		<!--Encrypted-->
		<add key="MessageCode" value=""/>
		<add key="SmsSender" value="DHMI"/>
		<add key="SmsNewRecordContent" value="Talebinizle ilgili {0} nolu basvurunuz olusturulmustur. Iyi gunler dileriz. DHMI"/>
		<add key="SmsNewRecordContentEng" value="Your request registered with {0} registration number. Have a nice day. DHMI"/>
		<add key="SmsEndRecordContent" value="{0} tarihinde yaptiginiz {1} nolu basvurunuz sonuclanmistir. alo.dhmi.gov.tr adresinden basvuru sonucunuza ulasabilirsiniz. Iyi gunler dileriz. DHMI"/>
		<add key="SmsEndRecordContentEng" value="Your request which registered in {0}, {1} registration number finalized. Have a nice day. DHMI"/>
		<!--<add key="SmsNewRecordContentEn" value="Your request number:{0}, has been created. Have a good days. DHMI" />
    <add key="SmsEndRecordContentEn" value="Your request number:{1} created in {0}, has been resulted. alo.dhmi.gov.tr/en/index.aspx adresinden basvuru sonucunuza ulasabilirsiniz. Iyi gunler dileriz. DHMI" />-->
	</appSettings>
	<!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.8" />
      </system.Web>
  -->
	<system.web>

		<sessionState mode="InProc" timeout="20"/>
		<customErrors mode="Off"/>
		<compilation debug="true" defaultLanguage="c#" targetFramework="4.8">
			<assemblies>
				<add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
				<add assembly="DevExpress.Charts.v14.1.Core, Version=14.1.6.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"/>
				<add assembly="DevExpress.Data.v14.1, Version=14.1.6.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"/>
				<add assembly="DevExpress.Printing.v14.1.Core, Version=14.1.6.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A"/>
				<add assembly="DevExpress.RichEdit.v14.1.Core, Version=14.1.6.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"/>
				<add assembly="DevExpress.Utils.v14.1, Version=14.1.6.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"/>
				<add assembly="DevExpress.Web.ASPxThemes.v14.1, Version=14.1.6.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"/>
				<add assembly="DevExpress.Web.ASPxTreeList.v14.1, Version=14.1.6.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"/>
				<add assembly="DevExpress.Web.v14.1, Version=14.1.6.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"/>
				<add assembly="DevExpress.XtraCharts.v14.1, Version=14.1.6.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"/>
				<add assembly="DevExpress.XtraCharts.v14.1.Web, Version=14.1.6.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A"/>
				<add assembly="DevExpress.XtraGauges.v14.1.Core, Version=14.1.6.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"/>
				<add assembly="DevExpress.XtraGauges.v14.1.Presets, Version=14.1.6.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"/>
			</assemblies>
		</compilation>

		<!--<httpCookies requireSSL="true"/> COOKİE SECURE FLAG EKLEMEYE YARIYOR ANCAK BU KISIM CANLIDA VE TESTTE CAPTCHA KODUNUN SÜREKLİ HATALI DÖNMESİNE SEBEP OLUYOR LOGIN YAPILAMIYOR  -->

		<authentication mode="Forms">
			<!--<forms loginUrl="~/Account/Login.aspx" requireSSL="true" timeout="288000"/>-->
			<forms loginUrl="~/Account/Login.aspx" requireSSL="true"/>
		</authentication>


		<!--<authorization>
			<deny users="?"/>
		</authorization>-->
		<membership>
			<providers>
				<clear/>
				<add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="ApplicationServices" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/"/>
			</providers>
		</membership>
		<profile>
			<providers>
				<clear/>
				<add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ApplicationServices" applicationName="/"/>
			</providers>
		</profile>
		<roleManager enabled="false">
			<providers>
				<clear/>
				<add name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="ApplicationServices" applicationName="/"/>
				<add name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" applicationName="/"/>
			</providers>
		</roleManager>
		<httpHandlers>
			<add type="DevExpress.Web.ASPxUploadControl.ASPxUploadProgressHttpHandler, DevExpress.Web.v14.1, Version=14.1.6.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" verb="GET,POST" path="ASPxUploadProgressHandlerPage.ashx" validate="false"/>
			<add type="DevExpress.Web.ASPxClasses.ASPxHttpHandlerModule, DevExpress.Web.v14.1, Version=14.1.6.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" verb="GET" path="DX.ashx" validate="false"/>
		</httpHandlers>
		<httpModules>
			<add type="DevExpress.Web.ASPxClasses.ASPxHttpHandlerModule, DevExpress.Web.v14.1, Version=14.1.6.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" name="ASPxHttpHandlerModule"/>
		</httpModules>
		<globalization culture="tr-TR" fileEncoding="windows-1254" uiCulture="tr-TR"/>
		<httpRuntime maxRequestLength="40960" executionTimeout="18000" enableVersionHeader="false"/>
		<pages validateRequest="true" clientIDMode="AutoID" controlRenderingCompatibilityVersion="4.0">
			<controls>
				<add tagPrefix="dx" namespace="DevExpress.Web.ASPxCallback" assembly="DevExpress.Web.v14.1, Version=14.1.6.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"/>
				<add tagPrefix="dx" namespace="DevExpress.Web.ASPxClasses" assembly="DevExpress.Web.v14.1, Version=14.1.6.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"/>
				<add tagPrefix="dx" namespace="DevExpress.Web.ASPxEditors" assembly="DevExpress.Web.v14.1, Version=14.1.6.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"/>
				<add tagPrefix="dx" namespace="DevExpress.Web.ASPxFormLayout" assembly="DevExpress.Web.v14.1, Version=14.1.6.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"/>
				<add tagPrefix="dx" namespace="DevExpress.Web.ASPxGridView" assembly="DevExpress.Web.v14.1, Version=14.1.6.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"/>
				<add tagPrefix="dx" namespace="DevExpress.Web.ASPxGridView.Export" assembly="DevExpress.Web.v14.1, Version=14.1.6.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"/>
				<add tagPrefix="dx" namespace="DevExpress.Web.ASPxLoadingPanel" assembly="DevExpress.Web.v14.1, Version=14.1.6.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"/>
				<add tagPrefix="dx" namespace="DevExpress.Web.ASPxMenu" assembly="DevExpress.Web.v14.1, Version=14.1.6.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"/>
				<add tagPrefix="dx" namespace="DevExpress.Web.ASPxNavBar" assembly="DevExpress.Web.v14.1, Version=14.1.6.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"/>
				<add tagPrefix="dx" namespace="DevExpress.Web.ASPxPanel" assembly="DevExpress.Web.v14.1, Version=14.1.6.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"/>
				<add tagPrefix="dx" namespace="DevExpress.Web.ASPxPopupControl" assembly="DevExpress.Web.v14.1, Version=14.1.6.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"/>
				<add tagPrefix="dx" namespace="DevExpress.Web.ASPxResourceManagers" assembly="DevExpress.Web.v14.1, Version=14.1.6.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"/>
				<add tagPrefix="dx" namespace="DevExpress.Web.ASPxSplitter" assembly="DevExpress.Web.v14.1, Version=14.1.6.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"/>
				<add tagPrefix="dx" namespace="DevExpress.Web.ASPxTabControl" assembly="DevExpress.Web.v14.1, Version=14.1.6.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"/>
				<add tagPrefix="dx" namespace="DevExpress.Web.ASPxUploadControl" assembly="DevExpress.Web.v14.1, Version=14.1.6.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"/>
				<add tagPrefix="dx" namespace="DevExpress.XtraCharts" assembly="DevExpress.XtraCharts.v14.1, Version=14.1.6.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"/>
				<add tagPrefix="dx" namespace="DevExpress.XtraCharts.Web" assembly="DevExpress.XtraCharts.v14.1.Web, Version=14.1.6.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"/>
				<add tagPrefix="ajaxToolkit" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit"/>
			</controls>
		</pages>
	</system.web>
	<system.webServer>

		<httpProtocol>
			<customHeaders>
				<remove name="X-Powered-By"/>
				<add name="X-Frame-Options" value="SAMEORIGIN" />

				<add name="Strict-Transport-Security" value="max-age=31536000; includeSubDomains"/>

				<add name="X-XSS-Protection" value="1; mode=block" />

				<add name="X-Content-Type-Options" value="nosniff" />

				<add name="X-Download-Options" value="noopen" />

				<!--<add name="Content-Security-Policy" value="default-src 'self'; script-src 'self' https://cdnjs.cloudflare.com; style-src 'self' https://maxcdn.bootstrapcdn.com; script-src 'self' https://metrica.yandex.com.tr/stat/?id=28993135&amp;from=informer; style-src 'self' http://www.w3.org/1999/xhtml; " />-->

				<add name="Content-Security-Policy" />

				<add name="Referrer-Policy" value="strict-origin" />

				<add name="X-Permitted-Cross-Domain-Policies" value="none" />

				<add name="Permissions-Policy" value="accelerometer=(), camera=(), geolocation=(), gyroscope=(), magnetometer=(), microphone=(), payment=(), usb=()" />

				<add name="Feature-Policy" value="accelerometer 'none'; camera 'none'; geolocation 'none'; gyroscope 'none'; magnetometer 'none'; microphone 'none'; payment 'none'; usb 'none'" />

				<add name="Expect-CT" value="max-age=300" />
				<!--<add name="Expect-CT" value="enforce, max-age=300, report-uri='https://www.your-report-website.com/'" />-->

			</customHeaders>
		</httpProtocol>

		<directoryBrowse enabled="false" showFlags="Date, Time, Size, Extension, LongDate"/>
		<modules runAllManagedModulesForAllRequests="true">
			<add type="DevExpress.Web.ASPxClasses.ASPxHttpHandlerModule, DevExpress.Web.v14.1, Version=14.1.6.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" name="ASPxHttpHandlerModule"/>
		</modules>
		<handlers>
			<add type="DevExpress.Web.ASPxUploadControl.ASPxUploadProgressHttpHandler, DevExpress.Web.v14.1, Version=14.1.6.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" verb="GET,POST" path="ASPxUploadProgressHandlerPage.ashx" name="ASPxUploadProgressHandler" preCondition="integratedMode"/>
			<add type="DevExpress.Web.ASPxClasses.ASPxHttpHandlerModule, DevExpress.Web.v14.1, Version=14.1.6.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" verb="GET" path="DX.ashx" name="ASPxHttpHandlerModule" preCondition="integratedMode"/>
		</handlers>
		<validation validateIntegratedModeConfiguration="false"/>

		<rewrite>
			<outboundRules>
				<clear />
				<rule name="Add SameSite" preCondition="No SameSite">
					<match serverVariable="RESPONSE_Set_Cookie" pattern=".*" negate="false" />
					<action type="Rewrite" value="{R:0}; SameSite=lax" />
				</rule>
				<preConditions>
					<preCondition name="No SameSite">
						<add input="{RESPONSE_Set_Cookie}" pattern="." />
						<add input="{RESPONSE_Set_Cookie}" pattern="; SameSite=lax" negate="true" />
					</preCondition>
				</preConditions>
			</outboundRules>
		</rewrite>

		<security>
			<requestFiltering>
				<verbs>
					<add verb="TRACE" allowed="false" />
					<add verb="TRACK" allowed="false" />
				</verbs>
				<requestLimits maxAllowedContentLength="2000000000"/>
			</requestFiltering>
		</security>

		<defaultDocument>
			<files>
				<clear/>
				<add value="index.aspx"/>
			</files>
		</defaultDocument>
	</system.webServer>
	<devExpress>
		<themes enableThemesAssembly="true" styleSheetTheme="" theme="Office2010Blue" customThemeAssemblies=""/>
		<compression enableHtmlCompression="true" enableCallbackCompression="true" enableResourceCompression="true" enableResourceMerging="true"/>
		<settings doctypeMode="Html5" rightToLeft="false" embedRequiredClientLibraries="false"/>
		<errors callbackErrorRedirectUrl=""/>
	</devExpress>
	<system.serviceModel>
		<bindings>
			<basicHttpBinding>
				<binding name="Service1Soap"/>
			</basicHttpBinding>
		</bindings>
		<client>
			<endpoint address="http://ws.ttmesaj.com/service1.asmx" binding="basicHttpBinding" bindingConfiguration="Service1Soap" contract="SmsService.Service1Soap" name="Service1Soap"/>
		</client>
	</system.serviceModel>
</configuration>