<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
	 <appSettings>
    
    <add key="IntervalType" value="m"/>
    <add key="SendMailInterval" value="5"/>
    <!--Wait milisecond at each sms send-->
    <add key="MailWaitIntervalMilisecond" value="5000"/>
  </appSettings>
</configuration>
